Options -MultiViews
RewriteEngine On

# Define a base para reescrita (garante que parta da raiz que o Apache mapeou)
RewriteBase /

# Se o arquivo ou pasta solicitado existir fisicamente dentro de public, entrega ele direto e para aqui
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Se não for um arquivo/diretório real, manda tudo para o index.php
RewriteRule ^ index.php [L]