/* RESET */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node {
  background-clip: text !important;
  -webkit-background-clip: text !important;
}