html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.brand-header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--cabecalho);
  padding: 20px 0;
  z-index: 1000;
}

/* empilhamento central */
.brand-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

/* palavras */
.brand-word {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #000;
  font-weight: 500;
}

/* logo central */
.brand-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/*animação aviãozinho */
@keyframes voar-diagonal {
  0% {
    transform: translateX(-40px) translateY(40px);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translateX(50px) translateY(-40px);
    opacity: 0;
  }
}

.brand-logo {
  width: 150px;
  margin: 8px 0;
  animation: voar-diagonal 3s ease-in-out infinite;
}
