main {
  padding-bottom: 64px;
}

.tab-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: var(--cabecalho);
  box-shadow: 0 -2px 8px rgba(0,0,0,0.08);
  z-index: 1000;
  outline: var(--borda)
}