<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">

  <!-- SEO básico -->
  <title><!-- título da página --></title>
  <meta name="description" content="Compartilhe e descubra livros que viajam pelo mundo!">
  <meta name=" viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/sistema_base/basestyle.css">
  <link rel="stylesheet" href="../css/sistema_base/branding.css">

  <link rel="stylesheet" href="../css/sistema_base/responsive.css">

</head>

<body>
  <header class="brand-header">
    <div class="brand-stack">
      <span class="brand-word">Livros</span>

      <img src="../img/logo.png" alt="Logo Livros Viajantes" class="brand-logo">

      <span class="brand-word">Viajantes</span>
    </div>
  </header>
</body>

</html>