html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.chat-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-sistema);
  position: relative;
}

/* HEADER */
.chat-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  outline: var(--borda);
  background-color: var(--cabecalho);

  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
}

.btn-menu {
  font-size: 22px;
  cursor: pointer;
  background: none;
  border: none;
}

.chat-titulo {
  font-size: 18px;
  padding-left: 10px;
}

/* CHAT */
.chat-area {
  flex: 1;
  padding: 20px;
  background: var(--fundo);
}

.chat-vazio {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  font-style: italic;
}

.mensagens-layout {
  display: flex;
  height: calc(100vh - 80px);
  font-family: var(--fonte-sistema);
}

/* MENU LATERAL (GAVETA) */
.chat-gaveta {
  width: 280px;
  padding: 15px;
  outline: var(--borda);
  background: #f7f7f7;

  position: fixed;
  top: 80px; /* abaixo do header */
  left: -290px;
  width: 260px;
  height: calc(100vh - 80px);
  background: var(--footer);
  box-shadow: var(--shadow);
  transition: left 0.3s ease;
  z-index: 999;
}

.chat-gaveta h3 {
  margin: 15px;
}

.chat-gaveta.aberta {
  left: 0;
}

/* LISTA DE CHATS */
.lista-chats {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.chat-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: var(--radius);
  
  cursor: pointer;
}

.chat-item:hover,
.chat-item.ativo {
  outline: var(--borda);
}

.chat-item img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

/* MENSAGENS (para depois) */
.mensagem {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 18px;
  margin-bottom: 10px;
}

.mensagem.enviada {
  align-self: flex-end;
  background: var(--mensagem-sucesso);
}

.mensagem.recebida {
  align-self: flex-start;
  background: #eaeaea;
}

/* CONTAINER DO INPUT */
.chat-input {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-top: 1px solid rgba(0,0,0,.1);
}

/* ÁREA DO INPUT */
.input-area {
  width: 100%;
  max-width: 520px;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* INPUT */
.input-area input {
  flex: 1;
  padding: 10px 14px;
  border-radius: var(--radius);
  font-family: var(--fonte-sistema);
  font-style: italic;
  color: black;
}

/* BOTÃO */
.input-area button {
  padding: 10px 18px;
  border-radius: var(--radius);
  background: var(--mensagem-sucesso);
  font-family: var(--fonte-sistema);
  cursor: pointer;
  color: black;
}