<div class="cabecalho">
    <nav class="links-container">
        <a href="/livrosViajantes/public/pages/index.php" class="footer-btn">Home</a>
        <a href="/livrosViajantes/public/pages/pesquisar.html" class="footer-btn">Pesquisar</a>
        <a href="/livrosViajantes/public/pages/publicar.html" class="footer-btn">Nova Publicação</a>
        <a href="/livrosViajantes/public/pages/area_usuario.html" class="footer-btn">Área do Usuário</a>
        <a href="/livrosViajantes/public/pages/mensagem.html" class="footer-btn">Mensagens</a>
    </nav>
</div>