  <header class="header">

    <!-- logo -->
    <a href="index.html" class="logo">
      <img src="assets/img/logo.png" alt="Logo Livros Viajantes">
    </a>

    <!-- mensagens -->
    <a href="mensagem.html" class="link-mensagem">
      <div class="icone-mensagem">
        <img src="assets/img/cabecalho/icone-mensagem.svg" alt="ícone de mensagens">
      </div>
    </a>

    <!-- notificações -->
    <a href="pages/notificacao.html" class="link-notificacao">
      <div class="icone-notificacao">
        <img src="assets/img/cabecalho/icone-notificacoes.svg" alt="ícone de notificações">
      </div>
    </a>

    <!-- avatar -->
    <a href="pages/area_usuario.html" class="avatar">
      <div class="icone-avatar">
        <img src="assets/img/cabecalho/icone-avatar.svg" alt="ícone de avatar">
      </div>
    </a>

  </header>