html, body {
    height: 100%;
    margin: 0;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* FOOTER WRAPPER */
.footer {
    margin-top: auto;
    width: 100%;
    padding: 20px 0;
    padding-bottom: 80px;
    background: var(--footer); 
    box-shadow: var(--shadow);
}

/* CONTEÚDO */
.footer-conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-sistema);
    gap: 15px;
}

/* TÍTULO */
.footer-conteudo h2 {
    margin: 0;
    font-family: var(--fonte-sistema);
    font-size: 1.2rem;
}

/* LINKS EM PILHA */
.footer-conteudo nav {
    display: flex;
    flex-direction: column; 
    gap: 6px;                
    align-items: center;     

}

/* ESTILO DOS LINKS */
.footer-conteudo nav a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    opacity: 0.8;
}

.footer-conteudo nav a:hover {
    opacity: 1;
}

/* TEXTO FINAL */
.footer-conteudo p {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.7;
    text-align: center;
}