.msg {
  position: fixed;
  bottom: 20px;
  left: 50%;
  translate: -50% 0;
  padding: 14px 22px;
  border-radius: var(--radius);
  font-size: 0.95rem;
  font-weight: 500;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
  z-index: 9999;
  font-family: var(--fonte-sistema);
  outline: var(--borda);

  animation: slideUp .3s ease;
}

.msg:empty {
  display: none;
}

@keyframes slideUp {
  from {
    opacity: 0;
    translate: 0 20px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}