/* TAB MENU */
.tab-menu {
    position: fixed;
    left: 0;
    top: 150px;
    /* altura do header */
    width: 80px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    background: var(--cabecalho);
    z-index: 900;
    border-radius: var(--radius);

    align-items: center;
    padding: 80px 0px;
    gap: 40px;
    margin: 10px;
}

main {
    margin-left: 80px;
}

/* BOOKCARD */
.book-card {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* CHAT */
.chat-app {
    margin-left: 80px;
}

.chat-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.chat-gaveta {
    position: fixed;
    right: 0;
    top: 80px;
    left: auto;
}

.chat-area {
    margin-right: 260px;
}