<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">

  <!-- SEO básico -->
  <title><!-- título da página --></title>
  <meta name="description" content="Compartilhe e descubra livros que viajam pelo mundo!">
  <meta name=" viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/sistema_base/basestyle.css">
  <link rel="stylesheet" href="../css/sistema_base/footerstyle.css">

  <link rel="stylesheet" href="../css/sistema_base/responsive.css">

</head>

<body>

  <div class="footer">
    <div class="footer-conteudo">
      <h2>Mapa do Site</h2>

      <nav>
        <a href="index.html">Home</a>
        <a href="/pages/pesquisar.html">Pesquisar</a>
        <a href="/pages/publicar.html">Nova Publicação</a>
        <a href="/pages/area_usuario.html">Área do Usuário</a>
        <a href="/pages/mensagem.html">Mensagens</a>
      </nav>

      <p>
        Livros Viajantes — Incentivando a cultura através da tecnologia 🌍
      </p>
    </div>
  </div>

</body>

</html>
