<div class="footer">
  <div class="footer-conteudo">
    <h2>Mapa do Site</h2>

    <nav>
      <a href="/LivrosViajantes/index.html">Home</a>
      <a href="/LivrosViajantes/pages/pesquisar.html">Pesquisar</a>
      <a href="/LivrosViajantes/pages/publicar.html">Nova Publicação</a>
      <a href="/LivrosViajantes/pages/area_usuario.html">Área do Usuário</a>
      <a href="/LivrosViajantes/pages/mensagem.html">Mensagens</a>
    </nav>

    <p>
      Livros Viajantes — Incentivando a cultura através da tecnologia 🌍
    </p>
  </div>
</div>