<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">

  <!-- SEO básico -->
  <title><!-- título da página --></title>
  <meta name="description" content="Compartilhe e descubra livros que viajam pelo mundo!">
  <meta name=" viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/sistema_base/basestyle.css">
  <link rel="stylesheet" href="../css/sistema_base/headerstyle.css">

  <link rel="stylesheet" href="../css/sistema_base/responsive.css">

</head>

<body>

  <header class="header">

    <!-- logo -->
    <div class="logo">
      <img src="/public/img/logo.png" alt="Logo Livros Viajantes">
    </div>

    <!-- mensagens -->
    <a href="/public/pages/mensagem.html" class="link-mensagem">
      <div class="icone-mensagem">
        <img src="/public/img/cabecalho/icone-mensagem.svg" alt="ícone de mensagens">
      </div>
    </a>

    <!-- notificações -->
    <a href="/public/pages/notificacao.html" class="link-notificacao">
      <div class="icone-notificacao">
        <img src="/public/img/cabecalho/icone-notificacoes.svg" alt="ícone de notificações">
      </div>
    </a>

    <!-- avatar -->
    <a href="/public/pages/area_usuario.html" class="avatar">
      <div class="icone-avatar">
        <img src="/public/img/cabecalho/icone-avatar.svg" alt="ícone de avatar">
      </div>
    </a>

  </header>

</body>

</html>