<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">

  <!-- SEO básico -->
  <title><!-- título da página --></title>
  <meta name="description" content="Compartilhe e descubra livros que viajam pelo mundo!">
  <meta name=" viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/sistema_base/basestyle.css">
  <link rel="stylesheet" href="../css/sistema_base/tab_menustyle.css">

  <link rel="stylesheet" href="../css/sistema_base/responsive.css">

</head>

<body>
  <main>
    <nav class="tab-menu">
      <a href="/index.html">
        <img src="/img/tab_menu/Home.svg" alt="Home">
      </a>

      <a href="/pages/publicar.html">
        <img src="/img/tab_menu/nova_publi.svg" alt="Nova publicação">
      </a>

      <a href="/pages/pesquisar.html">
        <img src="/img/tab_menu/Search.svg" alt="Pesquisar">
      </a>
    </nav>

  </main>

</body>

</html>
